<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false">
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="error_reporting" value="-1" />
        <const name="DEFAULT_TIME_VALUE" value="0"/>
        <const name="DEFAULT_TIMESTAMP_VALUE" value="2015-05-21T09:30:00+02:00"/>
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>